<mat-card-content>
  <mat-tab-group class="demo-tab-group">
    <mat-tab label="{{ 'overview' | translate }}" >
      <kt-overview [basicData]="basicData" (changeFormData)="setDisableStatus($event)"></kt-overview>
    </mat-tab>
    <mat-tab label="{{ 'contactPerson' | translate }}">
      <kt-contact-persion  [presonIdsList]= "presonIdsList" ></kt-contact-persion>
    </mat-tab>
    <mat-tab label="{{ 'comments' | translate }}">
      <kt-comments [comments] ="comments" (changeFormData)="setDisableStatus($event)"></kt-comments>
    </mat-tab>

    <mat-tab label="{{ 'order' | translate }}">
      <kt-order [orderIdsList]= "orderIdsList" ></kt-order>
    </mat-tab>

    <mat-tab label="{{ 'specialtour' | translate }}">
      <kt-special-tour [specialtourData]="specialorderData" (changeFormData)="setDisableStatus($event)"></kt-special-tour>
    </mat-tab>

  </mat-tab-group>

  <div class="kt-portlet__foot">
    <div class=" p-0">
      <div class="row" style="padding-top: 20px;">
        <div class="col-lg-12 text-center">
          <button type="submit" class="btn btn-success m-5" (click)="submitFrm()" style="padding: 10px 30px;" [disabled]="isDisabled">{{'save' | translate}}</button>
		  <button type="button" class="btn btn-danger m-5" (click)="cancel()" style="padding: 10px 30px;">{{'cancel' | translate}}</button>
        </div>
      </div>
    </div>
  </div>

</mat-card-content>
